.DS_Store
IR-cs316.zip
IR-cs316
Stanford-parser-python-r22186.tar
stanford-corenlp-full-2018-02-27/
stanford-corenlp-python/
stanford-parser-python-r22186/
v5/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
v5/Untitled1.ipynb
Model
finalReport.pdf
1.png
2.png
Copy of share_the_facts_amazon_echo_testing.xlsx
Workbook1.xlsx
annotated.xlsx
poster
